<header class="header">
    <div class="header-list">
        <app-header-link placeholder="Blog"></app-header-link>
        <app-header-link placeholder="Sobre"></app-header-link>
        <app-header-link placeholder="Descrição"></app-header-link>
    </div>
    <div class="header-info">
        <app-picture></app-picture>
        <div>
            <p class="header-info-tittle">Maxel Udson</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Animi consectetur ea cumque non id sit obcaecati numquam, voluptates quos, rerum 
                ab ex voluptas officia, illum veritatis molestias omnis sint. Quibusdam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Animi consectetur ea cumque non id sit obcaecati numquam, voluptates quos, rerum 
                ab ex voluptas officia, illum veritatis molestias omnis sint. Quibusdam.
            </p>
        </div>
    </div>
</header>
