<div class="content">
    <p class="content-tittle">Últimas do Blog</p>
    <app-article tittle="5 dicas para sua carreira profissional" 
    subtittle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo iusto neque accusantium harum, delectus totam voluptate">
    </app-article>
    <app-article tittle="5 dicas para sua carreira profissional" 
    subtittle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo iusto neque accusantium harum, delectus totam voluptate">
    </app-article>
    <app-article tittle="5 dicas para sua carreira profissional" 
    subtittle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo iusto neque accusantium harum, delectus totam voluptate">
    </app-article>
    <p class="content-footer">Ver tudo</p>
</div>
