.article {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.article-tittle {
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}

.article-subtittle {
    margin-top: 10px;
    font-style: italic;
}